@model CalcOfQuantityPPI.ViewModels.Account.EditViewModel
@{
    ViewBag.Title = "Изменение данных пользователя";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;
     min-height:800px">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">@ViewData["Title"] «@Model.Login»</h2>
        </div>
    </div>
    <br />
    <form asp-action="Edit" asp-controller="Account" method="post">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
                                window.onload = function () {
                                    alert("@ViewBag.Message");
                                };
                            </script>
                        }
                        @Html.HiddenFor(model => model.Id, new { id = "userId" })
                        @Html.HiddenFor(model => model.Department.Id)
                        <div class="form-group">
                            @Html.Label("Фамилия и инициалы пользователя")
                            @Html.TextBoxFor(model => model.Name,
                                new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Логин")
                            @Html.TextBoxFor(model => model.Login,
                                new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.ValidationSummary(null,
                                new { style = "color:red" })
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Изменить пароль", "ChangePassword", "Account",
                                new { id = "changePassword", userId = @Model.Id }, null)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Роль пользователя:") <br />
                            @Model.Role.Description
                            @if (@Model.Department != null)
                            {
                                <i>«@Model.Department.Name»</i>
                                if (@Model.Department.ParentDepartmentId != null)
                                {
                                    <p>
                                        В составе cтруктурного подразделения
                                        <i>«@Model.DatabaseHelper.GetDepartment(@Model.Department.ParentDepartmentId).Name»</i>
                                    </p>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div style="max-width:280px">
                                <button type="submit" class="btn btn-success btn-block">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>