@model CalcOfQuantityPPI.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Добавление нового пользователя";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;
     min-height:800px">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">@ViewData["Title"]</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <form asp-action="Login" asp-controller="Account" method="post">
                <div class="form-group">
                    @Html.Label("Фамилия и инициалы пользователя")
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Роль пользователя")
                    @Html.DropDownListFor(model => model.Role, ViewBag.Roles as SelectList, 
                        new { id = "roles", @class = "form-control" })
                </div>
                <div id="parentDepartments" class="form-group">
                    @Html.Label("Структурное подразделение:")<br />
                    @Html.DropDownListFor(model => model.ParentDepartmentId, ViewBag.ParentDepartments as SelectList,
                        new { id = "parentDepartment", @class = "form-control" })
                </div>
                <div id="subsidiaryDepartments" class="form-group">
                    @Html.Label("Подразделение")<br />
                    @Html.DropDownListFor(model => model.SubsidiaryDepartmentId, ViewBag.SubsidiaryDepartments as SelectList, 
                        new { id = "subsidiaryDepartment", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Логин")
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Пароль")
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                </div>
                <div class="form-group">
                    @Html.Label("Подтвердите пароль")
                    @Html.TextBoxFor(model => model.PasswordConfirm, new { @class = "form-control", type = "password" })
                </div>
                <div class="form-group">
                    @Html.ValidationSummary(null, new { style = "color:red" })
                </div>
                <div style="max-width:280px">
                    <button type="submit" class="btn btn-success btn-block">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#roles').val('admin');
            $('#parentDepartments').hide(100);
            $('#subsidiaryDepartments').hide(100);
        });
        $('#roles').change(function () {
            updateRoleList(this.value);
        });
        $('#parentDepartment').change(function () {
            updateSubsidiaryDepartmentList();
        });
        $('#subsidiaryDepartment').change(function() {
            updateProfessionsAndPPITable('#subsidiaryDepartment');
        });
        function updateRoleList(role) {
            if (role == "structural-department-head") {
                $('#parentDepartments').show(100);
                $('#subsidiaryDepartments').hide(100);
            } else if (role == "department-head") {
                $('#parentDepartments').show(100);
                $('#subsidiaryDepartments').show(100);
            } else {
                $('#parentDepartments').hide(100);
                $('#subsidiaryDepartments').hide(100);
            }
        }
        function updateSubsidiaryDepartmentList() {
            var parentDepartmentId = $('#parentDepartment').val();
            $.ajax({
                success: function () {
                    $('#subsidiaryDepartment').load('@Url.Action("SubsidiaryDepartmentList", "Request")/' + parentDepartmentId);
                }
            });
        }
    </script>
}