@model IEnumerable<CalcOfQuantityPPI.Models.Role>
@{
    ViewBag.Title = "Упраквление ролями пользователей";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;
     min-height:800px">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">@ViewData["Title"]</h2>
        </div>
    </div>
    <br />
    @Html.ActionLink("Добавить роль", "Create", "Roles", null,
        new { @class = "btn btn-success", disabled = "disabled", @style = "pointer-events: none;" })
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <table class="table table-hover">
                    <thead style="background-color:steelblue; color:white">
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>
                                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id },
                                        new { @class = "btn btn-sm btn-primary", disabled = "disabled", @style = "pointer-events: none;" })
                                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id },
                                        new { @class = "btn btn-sm btn-danger", disabled = "disabled", @style = "pointer-events: none;" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>