@{
    ViewBag.Title = "Главная";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;
     min-height:800px">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">Учет потребности СИЗ</h2>
        </div>
    </div>
    <br />
    <fieldset>
        <legend>Выберите действие</legend>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    @if (User.IsInRole("admin"))
                    {
                        <center>
                            @Html.ActionLink("Панель администратора", "Index", "Admin", null,
                                new { @class = "btn btn-info btn-block", @style = "max-width:280px;" })
                        </center>
                        <br />
                    }
                    @if (User.IsInRole("structural-department-head") || User.IsInRole("admin"))
                    {
                        <fieldset>
                            <legend>Расчет потребности СИЗ</legend>
                            <center>
                                @if (User.IsInRole("admin"))
                                {
                                    @Html.ActionLink("По наименованию", "CalcByPPINameAndStructuralDepartmentName", "Calc", null,
                                    new { @class = "btn btn-primary btn-block", @style = "max-width:280px;" })
                                    <br />
                                    @Html.ActionLink("По подразделению", "CalcByStructuralDepartmentName", "Calc", null,
                                        new { @class = "btn btn-primary btn-block", @style = "max-width:280px;" })
                                }
                                else
                                {
                                    @Html.ActionLink("По наименованию", "CalcByPPIName", "Calc", null,
                                    new { @class = "btn btn-primary btn-block", @style = "max-width:280px;" })
                                    <br />
                                    @Html.ActionLink("По подразделению", "CalcByDepartmentName", "Calc", null,
                                        new { @class = "btn btn-primary btn-block", @style = "max-width:280px;" })
                                }
                            </center>
                        </fieldset>
                    }
                    @if (User.IsInRole("department-head"))
                    {
                        <center>
                            @Html.ActionLink("Оформить заявку", "CreateRequest", "Request", null,
                                new { @class = "btn btn-primary btn-block", @style = "max-width:280px;" })
                        </center>
                    }
                </div>
            </div>
        }
        else
        {
            Response.Redirect("~/Account/Login");
        }
    </fieldset>
</div>