@model CalcOfQuantityPPI.ViewModels.Calc.CalcViewModel
@{
    ViewBag.Title = "Расчет потребности СИЗ для подразделения";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;
     min-height:800px">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">
                Расчет потребности СИЗ за
                <b style="color:powderblue">@DateTime.Now.Year</b>
                год для выбранного средства индивидуальной защиты</i>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="CalcByDepartmentName" asp-controller="Calc" method="post">
                <h3>Выберите наименование средства индивидуальной защиты</h3>
                <div class="row">
                    <div class="col-md-6 col-lg-offset-4">
                        <div id="structural-departments" class="form-group">
                            @Html.Label("Структурное подразделение:")<br />
                            @Html.DropDownListFor(model => model.StructuralDepartmentId, ViewBag.StructuralDepartments as SelectList,
                                new { id = "structural-department", @class = "form-control" })
                        </div>
                        <div id="personal-protective-items" class="form-group">
                            @Html.Label("Наименование СИЗ")<br />
                            @Html.DropDownListFor(model => model.PPIId, ViewBag.PersonalProtectiveItems as SelectList,
                            new { id = "personal-protective-item",  @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-sm btn-success btn-block" style="max-width:280px">Готово</button>
                    </div>
                </div>
                <hr />
            </form>
            <div class="panel panel-primary">
                <div class="panel-heading">Результат расчета потртебности СИЗ для выбранного наименования СИЗ</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Подразделение</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody class="calc-table">
                            @for (int i = 0; i < Model.DeparmentsViewModel.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Model.DeparmentsViewModel[i].DepartmentName
                                    </td>
                                    <td class="quantity">
                                        @Model.DeparmentsViewModel[i].QuantityOfPPI
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="h3">Всего за год</td>
                                <td class="total-quantity h3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {

        });
        $('#structural-department').change(function () {
            updateDepartmentList();
            $('#personal-protective-items').show(100);
        });
        function updateDepartmentList() {
            var structuralDepartmentId = $('#structural-department').val();
            $.ajax({
                success: function () {
                    $('#personal-protective-item').load('@Url.Action("PPIList", "Calc")/' + structuralDepartmentId);
                }
            });
        }
    </script>
    <script>
        $(function () {
            calculateTotalQuantity();
        });
        function calculateTotalQuantity() {
            $(document).ready(function () {
                $(document).ready(function () {
                    var sum = 0;
                    $(".calc-table .quantity").each(function () {
                        sum += parseInt($(this).text(), 10);
                    });
                    $('.calc-table .total-quantity').html(sum);
                });
            });
        }
    </script>
}