@model CalcOfQuantityPPI.ViewModels.Calc.CalcViewModel
@{
    ViewBag.Title = "Расчет потребности СИЗ для подразделения";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;
     min-height:800px">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">
                Расчет потребности СИЗ на
                <b style="color:powderblue">@DateTime.Now.Year</b>
                год для выбранного подразделения, входящего в состав структурного подразделения
                <i style="color:powderblue">«@Model.DatabaseHelper.GetDepartment(Model.StructuralDepartmentId).Name»</i>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="CalcByDepartmentName" asp-controller="Calc" method="post">
                <h3>Выберите подразделение</h3>
                <div class="row">
                    <div class="col-md-6 col-lg-offset-4">
                        @Html.DropDownListFor(model => model.DepartmentId, ViewBag.StructuralDepartments as SelectList,
                            new { id = "structural-department", @class = "form-control" })
                        <br />
                        @Html.CheckBox("isUseDepartment", new { id = "is-use-department" })
                        @Html.Label("Подразделение")
                        <br />
                        @Html.DropDownList("department", ViewBag.Departments as SelectList,
                            new { id = "department", @class = "form-control", style = "display:none" })
                        <br />
                        <button type="submit" class="btn btn-sm btn-success btn-block" style="max-width:280px">Готово</button>
                    </div>
                </div>
                <hr />
            </form>
            <div class="panel panel-primary">
                @if (@Model.DepartmentId == null)
                {
                    <div class="panel-heading">Результат расчета потртебности СИЗ для струкутрного подразделения @Model.DatabaseHelper.GetDepartment(Model.StructuralDepartmentId).Name</div>
                }
                else
                {
                    <div class="panel-heading">Результат расчета потртебности СИЗ для подразделения @Model.DatabaseHelper.GetDepartment(Model.DepartmentId).Name</div>
                }
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Наименование СИЗ</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody class="calc-table">
                            @for (int i = 0; i < Model.PPIViewModel.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Model.PPIViewModel[i].PPIName
                                    </td>
                                    <td class="quantity">
                                        @Model.PPIViewModel[i].QuantityOfPPI
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {
            $('#department').hide(0);
            $('#is-use-department').prop('checked', false);
            updateProfessionsAndPPITable('#structural-department');
        });

        $('#structural-department').change(function () {
            $('#department').hide(100);
            $('#is-use-department').prop('checked', false);
        });

        $('#department').change(function () {
            updateProfessionsAndPPITable('#department');
        });

        $('#is-use-department').click(function () {
            if ($('#is-use-department').is(':checked')) {
                $('#department').show(100);
                updateProfessionsAndPPITable('#department');
            } else {
                $('#department').hide(100);
                updateProfessionsAndPPITable('#structural-department');
            }
        });

        if ($('#is-use-department').is(':checked')) {
            $('#department').show(100);
            $('#department').change(function () {
                updateProfessionsAndPPITable('#department');
                });
            } else {
            $('#department').hide(100);
            $('#structural-department').change(function () {
                    updateProfessionsAndPPITable('#structural-department');
                });
        }

        function updateProfessionsAndPPITable(id) {
            var departmentId = $(id).val();
            $.ajax({
                success: function () {
                    $('#professionsTabel').load('@Url.Action("ProfessionsAndPPITable", "Request")/' + departmentId);
                }
            });
        }
    </script>
}