@model CalcOfQuantityPPI.ViewModels.Request.RequestViewModel

<table class="table table-hover">
    <thead>
        <tr>
            <th width="200">Профессия</th>
            <th width="100">Численность</th>
            <th width="100">Наименование СИЗ</th>
            <th width="100">Количество на одного работника</th>
            <th width="100">Количество всего</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.ProfessionViewModelList.Count; i++)
        {
            <tr>
                <td width="200">
                    @Html.HiddenFor(model => Model.ProfessionViewModelList[i].ProfessionName)
                    @Model.ProfessionViewModelList[i].ProfessionName
                </td>
                <td>
                    @Html.TextBox("ProfessionViewModelList[" + i + "].EmployeesQuantity", "", 
                        new { id = "employeesQuantity", type = "number", min = "0", max = "1000", @class = "form-control" })
                </td>
                <td colspan="3">
                    <table class="table table-hover calc-table">
                        <tbody>
                            @for (int j = 0; j < Model.ProfessionViewModelList[i].QuantityOfPPI.Length; j++)
                            {
                                <tr>
                                    <td>
                                        @Html.Hidden("quantityOfEmployeesHidden", "", new { @class = "quantity-of-employees" })
                                    </td>
                                    <td width="100">
                                        @Html.HiddenFor(model => Model.ProfessionViewModelList[i].QuantityOfPPI[j].PersonalProtectiveItemName)
                                        @Model.ProfessionViewModelList[i].QuantityOfPPI[j].PersonalProtectiveItemName
                                    </td>
                                    <td width="100">
                                        @Html.TextBox("ProfessionViewModelList[" + i + "].QuantityOfPPI[" + j + "].QuantityForOneEmployee", null, 
                                            new { type = "number", min = "0", max = "1000", @class = "form-control quantity-of-ppi-for-one-employee" })
                                    </td>
                                    <td width="100">
                                        @Html.TextBox("ProfessionViewModelList[" + i + "].QuantityOfPPI[" + j + "].TotalQuantity", null,
                                            new { id = "totalQuantity", type = "text", @readonly = "readonly", @class = "form-control total-quantity-of-ppi" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        calculateTotalQuantity();
    });
    $('input').bind('input', function () {
        $(this).closest('tr').find('input').each(function (i) {
            var numberInProfession = $(this).closest('tr').find('input[id=employeesQuantity]').val();
            if (isNaN(numberInProfession) || numberInProfession === undefined) {
                return;
            }
            $(this).closest('tr').find('input.quantity-of-employees').val(numberInProfession);
        });
        calculateTotalQuantity();
    });
    function calculateTotalQuantity() {
        $('.calc-table tr').each(function () {
            var hours = $(this).find('input.quantity-of-employees').val();
            var rate = $(this).find('input.quantity-of-ppi-for-one-employee').val();
            $(this).find('input.total-quantity-of-ppi').val(hours * rate);
        });
        return false;
    }
</script>