@using CalcOfQuantityPPI.Models
@model IEnumerable<CalcOfQuantityPPI.Models.User>
@{
    ViewBag.Title = "Панель администратора";
}

<div class="container"
     style="padding: 0 20px 20px 20px;
     background-color: rgb(255,255,255);
     box-shadow: rgba(0,0,0,0.5) 0 5px 20px;
     border-radius:5px;
     min-height:800px">
    <div class="row" style="background-color:rgb(0, 140, 208); margin-left:-20px; margin-right:-20px; padding:10px;">
        <div class="col-md-12">
            <h2 style="color:white;">@ViewBag.Title</h2>
        </div>
    </div>
    <br />
    @Html.ActionLink("Управление ролями пользователей", "Index", "Roles", null,
        new { @class = "btn btn-primary" })
    <hr />
    <div class="panel panel-primary">
        <div class="panel-heading">Пользователи</div>
        <div class="panel-body">
            @Html.ActionLink("Добавить нового пользователя", "Register", "Account", null,
                new { @class = "btn btn-success", @style = "max-width:280px;" })
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Идентификатор</th>
                                <th>Логин</th>
                                <th>Имя</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (User user in Model)
                            {
                                <tr>
                                    <td>@user.Id</td>
                                    <td style="color:dodgerblue">@user.UserName</td>
                                    <td style="color:steelblue">@user.Name</td>
                                    @if (user.DepartmentId == null)
                                    {
                                        <td style="color:forestgreen">Администратор</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>
                                        @Html.ActionLink("Изменить", "Edit", "Account", new { id = @user.Id },
                                            new { @class = "btn btn-sm btn-primary", @style = "max-width:280px;" })
                                        @if (User.Identity.Name != @user.UserName)
                                        {
                                            @Html.ActionLink("Удалить", "Delete", "Account", new { id = @user.Id },
                                                     new { @class = "btn btn-sm btn-danger", @style = "max-width:280px;" })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>